dotfiles
.config/BraveSoftware/
.config/GIMP/
.config/IJHack/
.config/MuseScore/
.config/QtProject.conf
.config/Thunar/
.config/VirtualBox/
.config/dconf/
.config/gpick/
.config/inkscape/
.config/isync/
.config/lutris/
.config/mangareader/
.config/mangareaderrc
.config/mangodl.conf
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/notmuch/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pam-gnupg
.config/pulse/
.config/syncthing/
.config/uGet/
.config/vlc/
.config/wget/
.config/whoozle.github.io/
.config/xfce4/
.config/zsh/.location
.config/zsh/.p10k.zsh
.config/zsh/.zcompdump.notworking.83892
.local/bin/__pycache__/
.local/bin/django-admin
.local/bin/django-admin.py
.local/bin/flask
.local/bin/getmac
.local/bin/locust
.local/bin/sqlformat
.config/flameshot/flameshot.ini
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.config/mpd/database
.config/mpd/playlists/
.config/ncmpcpp/error.log
.config/Caprine/
.config/Code - OSS/
.config/filezilla/
.config/fmit/
.config/kdeglobals
.config/mangadesk/
.config/soramimi.jp/
