dotfiles
*0ad
*android
*bash
*bleachbit
*BraveSoftware
*code-oss
*Code - OSS
*configstore
*dash
*dconf
*Debauchee
*Dharkael
*Electron
*fontconfig
*geany
*GIMP
*gpick
*KDE
*kde.org
*Kitware
*Kvantum
*libaccounts-glib
*libreoffice
*menus
*nitrogen
*npm
*nvim/autoload
*nvim/plugged
*plasma-workspace
pnmixer
pulse
*qpdfview
*ranger
*session
*smplayer
sxiv
*terminator
*Thunar
*uGet
*wal
*wget
*whoozle.github.io
*xarchiver
*yay
*yelp
*baloofilerc
*discoverrc
*drkonqirc
*droidcam
*mimeapps.list
*powermanagementprofilesrc
*QtProject.conf
*systemsettingsrc
*Trolltech.conf
*draw_img
*.config/git
*msmtp
*mutt
*nnn
*autoload
*plugged
*qutebrowser
*xfce4
100
*.xml
*.html
commit/
*error.log
*.netrwhist
*spell/
