.config/autostart/
.config/BraveSoftware/
.config/Caprine/
.config/cef_user_data/
.config/Code - OSS/
.config/dconf/
.config/discordo/
.config/Electron/
.config/filezilla/
.config/flameshot/flameshot.ini
.config/fmit/
.config/GIMP/
.config/git/
.config/gpick/
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.config/htop/
.config/IJHack/
.config/inkscape/
.config/isync/
.config/kdeglobals
.config/lutris/
.config/lxc/
.config/mangadesk/
.config/mangareader/
.config/mangareaderrc
.config/mangodl.conf
.config/mimeapps.list
.config/mpd/database
.config/mpd/playlists/
.config/msmtp/
.config/MuseScore/
.config/mutt/
.config/ncmpcpp/error.log
.config/notmuch/
.config/pam-gnupg
.config/pgcli/
.config/pulse/
.config/QtProject.conf
.config/snipe-it.env
.config/soramimi.jp/
.config/syncthing/
.config/Thunar/
.config/transmission-daemon/
.config/uGet/
.config/VirtualBox/
.config/vlc/
.config/wget/
.config/whoozle.github.io/
.config/xfce4/
.config/zsh/.location
.config/zsh/.p10k.zsh
.config/zsh/.zcompdump.notworking.83892
.local/bin/automat-visualize
.local/bin/cftp
.local/bin/ckeygen
.local/bin/conch
.local/bin/django-admin
.local/bin/django-admin.py
.local/bin/flask
.local/bin/getmac
.local/bin/jp.py
.local/bin/locust
.local/bin/mailmail
.local/bin/__pycache__/
.local/bin/pyhtmlizer
.local/bin/sqlformat
.local/bin/tkconch
.local/bin/tldextract
.local/bin/trial
.local/bin/twist
.local/bin/twistd
.local/include/
.local/lib/
.local/share/applications/
.local/share/autojump/
.local/share/bg
.local/share/.btscanneddevs
.local/share/calcurse/
.local/share/capstone/
.local/share/gnome-mines/
.local/share/gnunet/
.local/share/gnupg/
.local/share/go/
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/kxmlgui5/
.local/share/lf/
.local/share/lxc/
.local/share/lyrics/
.local/share/mail/
.local/share/manga/
.local/share/mime/
.local/share/mkcert/
.local/share/moonphase
.local/share/MuseScore/
.local/share/nautilus/
.local/share/newsboat/
.local/share/npm/
.local/share/NuGet/
.local/share/nvim/
.local/share/pass/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/sdcv_history
.local/share/stardict/
.local/share/syncthing/
.local/share/Trash/
.local/share/virtualenv/
.local/share/vlc/
.local/share/vulkan/
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.local/src/
.local/state/
.config/nvim/plugged/fzf.vim/
.config/virtualenvs/
.config/nvim/plugged/
